<!DOCTYPE html>
<html>

<head>

    <title>CareerPath AI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h1>CareerPath AI</h1>

    <form action="/predict" method="POST">

        <input type="text"
               name="name"
               placeholder="Enter Name"
               required>

        <input type="number"
               step="0.1"
               name="marks"
               placeholder="Marks (1-10)"
               required>

        <input type="number"
               step="0.1"
               name="coding"
               placeholder="Coding Skill (1-10)"
               required>

        <input type="number"
               step="0.1"
               name="communication"
               placeholder="Communication Skill (1-10)"
               required>

        <button type="submit">
            Predict Career
        </button>

    </form>

</div>

</body>
</html>